obj/*
Temp/*
Library/*

FTSources/.vs/*
FTSources/FTEditor/obj/*
FTSources/FTRuntime/obj/*
FTSources/FTSwfTools/obj/*

AssetStoreTools/*
AssetStoreTools.meta

.DS_Store
flash-tools.sln
flash-tools.userprefs
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
